.message {
  background-color: #cce1ff;
  width: fit-content;
  min-width: 32px;
  border-radius: 10px;
  padding: 12px;
  margin: 0 1rem;
  max-width: 44%;
}
.text {
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
  font-size: 15px;
  text-shadow: 0px 0 0px rgba(0, 0, 0, 0.4);
  color: #222222;
}
.message-container {
  padding: 1px;
  margin: 1px;
  display: flex;
}
.seft {
  flex-direction: row-reverse;
}
.message__mine {
  background-color: #fff;
}
